<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Academy</title>
    <link rel="stylesheet" href="../styles/Academy.css" type="text/css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>

<nav class="sidebar">
    <div class="logo-menu">
        <h2 class="logo">Academy</h2>
        <i class='bx bx-menu toggle-btn'></i>
    </div>

    <ul class="list">
        <li class="list-item active">
            <a href="../templates/Academy.html">
                <i class='bx bxs-home-alt-2' ></i>
                <span class="link-name" style="--i:1;">მთავარი</span>
            </a>
        </li>

         <li class="list-item second">
            <a href="../templates/About.html">
                <i class='bx bxs-objects-horizontal-left' ></i>
                <span class="link-name" style="--i:2;">შესახებ</span>
            </a>
        </li>

         <li class="list-item third">
            <a href="../templates/Contacts.html">
                <i class='bx bxs-contact' ></i>
                <span class="link-name" style="--i:3;">კონტაქტი</span>
            </a>
        </li>

        <li class="list-item btnLogin-popup">
            <a href="#">
                <i><ion-icon name="enter-outline"></ion-icon></i>
                <span class="link-name" style="--i:4;">შესვლა</span>
            </a>
        </li>
    </ul>
</nav>

<main>
    <div class="wrapper">
        <span class="icon-close"><ion-icon name="close-outline"></ion-icon></span>

        <div class="form-box login">
            <h2>Login</h2>
            <form action="#">
                <div class="input-box">
                    <span class="icon"><i class='bx bxs-envelope' ></i></span>
                    <input type="email">
                    <label>მეილი</label>
                </div>

                <div class="input-box">
                    <span class="icon"><i class='bx bxs-lock-alt' ></i></span>
                    <input type="password">
                    <label>პაროლი</label>
                </div>
                <div class="remember-forgot">
                    <label><input type="checkbox">დამიმახსოვრე</label>
                    <a href="#">დაგავიწყდა პაროლი?</a>
                </div>
                <button type="submit" class="btn">შესვლა</button>
                <div class="login-register">
                    <p>არ გაქვს აქაუნთი? <a href="#" class="register-link">რეგისტრაცია</a></p>
                </div>
            </form>
        </div>

         <div class="form-box register">
            <h2>რეგისტრაცია</h2>
            <form action="#">
                <div class="input-box">
                    <span class="icon"><i class='bx bxs-user' ></i></span>
                    <input type="text">
                    <label>მეტსახელი</label>
                </div>

                <div class="input-box">
                    <span class="icon"><i class='bx bxs-envelope' ></i></span>
                    <input type="email">
                    <label>მეილი</label>
                </div>

                <div class="input-box">
                    <span class="icon"><i class='bx bxs-lock-alt' ></i></span>
                    <input type="password">
                    <label>პაროლი</label>
                </div>
                <div class="remember-forgot">
                    <label><input type="checkbox">ვეთანხმები წესებს და პირობებს</label>
                </div>
                <button type="submit" class="btn">რეგისტრაცია</button>
                <div class="login-register">
                    <p>გაქვს აქაუნთი? <a href="#" class="login-link">შესვლა</a></p>
                </div>
            </form>
        </div>
    </div>
</main>

<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
<script src="../scripts/Academy.js"></script>
</body>
</html>
