<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contacts</title>
    <link rel="stylesheet" href="../styles/Contacts.css" type="text/css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>

<nav class="sidebar">
    <div class="logo-menu">
        <h2 class="logo">Academy</h2>
        <i class='bx bx-menu toggle-btn'></i>
    </div>

    <ul class="list">
        <li class="list-item active">
            <a href="../templates/Academy.html">
                <i class='bx bxs-home-alt-2' ></i>
                <span class="link-name" style="--i:1;">Home</span>
            </a>
        </li>

         <li class="list-item second">
            <a href="../templates/About.html">
                <i class='bx bxs-objects-horizontal-left' ></i>
                <span class="link-name" style="--i:2;">About</span>
            </a>
        </li>

         <li class="list-item third">
            <a href="../templates/Contacts.html">
                <i class='bx bxs-contact' ></i>
                <span class="link-name" style="--i:3;">Contacts</span>
            </a>
        </li>
    </ul>
</nav>

<script src="../scripts/Academy.js"></script>
</body>
</html>